
body{
margin: 0;
padding: 0;
display: flex;

}
.log{
    float: right;
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.pic1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.438),rgba(0, 0, 0, 0.447)),url(./img/checklist.jpg);
    width: 60%;
    height:100vh;
    border-radius: 30%;
    z-index: -3;
    background-repeat: no-repeat;
    object-fit: cover;
    
    

}

