
body{
margin: 0;
padding: 0;
display: flex;
font-family: "Electrolize";

}
.log{
    float: right;
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    

    
    

}

.log h1{
    font-size: 60px;
    animation: fade-up 0.5s ease-in-out forwards ;
    

}
.log input{
    border: none;
    border-bottom: solid;
    width:80% ;
    height: 3%;
    background-color: none;
    animation: fade-up 0.5s ease-in-out forwards ;
    
    

}

::placeholder{
    color: #1a1a1a;
    font-size: 20px;
    font-family: "Electrolize";

}
.log button{
    width: 50%;
    height: 10%;
    border-radius: 30px;
    border:none ;
    background: linear-gradient(45deg,#28266D ,#592C6E );
    color: aliceblue;
    font-size: 30px;
    animation: fade-up 0.5s ease-in-out forwards ;
    
    

}


.log p{
    animation: fade-up 0.5s ease-in-out forwards ;
}

.pic1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.318),rgba(0, 0, 0, 0.186)),url(./img/checklist.jpg);
    width: 50%;
    height:100vh;
    border-radius: 30%;
    border-bottom-left-radius: 0;
    border-top-left-radius:0 ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: fade-right 0.5s ease-in-out ;
    
    

}

@keyframes fade-right{
    0%{
        opacity: 0;
        transform: translateX(-30px) ;
    }
    100%{
        opacity: 1;
        transform: translateX(0px)  ;
    }
}

@keyframes fade-up{
    0%{
        opacity: 0;
        transform: translateY(30px) ;
    }
    100%{
        opacity: 1;
        transform: translateY(0px)  ;
    }
}